[Desktop Entry]
Name=ChoiceLandscape
GenericName=ChoiceLandscape
Comment=R31Habit Grant task
Exec=/home/lncd/tasks/choice-landscape/habit_loefeeg
Type=Application
Icon=/home/lncd/tasks/choice-landscape/resources/public/imgs/favicon.png
Terminal=true
